html,body{margin:0; padding:0; overflow: auto;}
body{
  font-family:'Inter', sans-serif;
  text-align:center;
  overflow: scroll;
}

::selection {
  color: white;
  background: black;
}

* {
  box-sizing: border-box;
  border-width:0px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
   width: 120px;
   background-color: black;
   color: white;
   text-align: center;
   padding: 5px 0;

   /* Position the tooltip */
   position: absolute;
   z-index: 1;
   top: 100%;
   left: 50%;
   margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opaque: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}


.fa:hover {
  color: black; transition: background-color 1s;
}


.overlayable{color: black; transition: background-color 1s; border-style: dotted;}

.overlayable:hover {
  background-color: black;
  color: white;
}


p{font-size: 13px; margin-top: 2px;   line-height: 18px; text-decoration: none; border-style: solid;}
h5{margin-bottom: 1px; margin-top: 7px;font-size: 14px;}

.container{text-align:left; border-style: solid; border-color: red; width:60%; margin:0 auto;}
div#header{background-color:#FFFFFF; border-style: dotted;}
div#header h1{height:60px;line-height:80px;margin:0;padding-left:0px;}

div#navigation{
  margin:0;
  padding: 0;
  width: 150px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  height: auto;
  overflow: auto;
  font-size: 16px;
  font-weight: 300;
  border-style: dotted;
  z-index: 1;
}
div#navigation a{
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  transition: background-color 1s;
  border-style: dotted;
}
div#navigation a:hover{
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: none;
}

div.content{
  position absolute;
  margin-left: 160px;
  margin-bottom: 100px;
  height: auto;
  border-style: solid;
  border-color: red;
  text-align: center;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/*>>>>>>>>> IMAGE AND OVERLAY - INDEX PAGE*/
.inside_content_index{
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-style: solid;
  border-color: blue;
}

.inside_content_works{
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-style: solid;
  border-color: blue;
  transition: 1s ease-in-out;
}

.inside_content_works:hover .overlay {
  opacity: 1;
  transition: 1s ease-in-out;
}

.inside_content_works:hover .image_overlay{
  filter: grayscale(100%) invert(100%);
  transition: 1s ease-in-out;
}

.image_overlay{
  position: relative;
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: auto;
  border-style: dotted;
  filter: grayscale(100%);
  filter: invert(0);
  transition: 1s ease-in-out;
}
.text_1{
  position: relative;
  color: green;
  font-size: 12px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0); /*mettere a nero se vuoi l'overlay nero*/
  color: #FFFFFF;
  width: 100%;
  transition: .3s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  transition: opacity 1s;
}

.inside_content_index:hover .overlay {
  opacity: 1;
}

.inside_content_index:hover .image_overlay {
  opacity: 1;
  filter:grayscale(100%) invert(100%);
}


.overlay_text{
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background: #000000;
}



@media screen and (max-width: 1200px) { /* Quando la dimensione dello schermo è pari o inferiore a 720px la sidebar va sopra */
  div#navigation{
    width: 30%;
    height: auto;
    position: relative;
  }
  div#navigation a {
    text-align: center;
    float: none;
  }
  div#navigation ul {float: left;}
  div.content {margin-left: 0px;}
}

.column:hover .overlay_works{
  opacity: 1;
}


/*>>>>>>>> COLUMNS AND ROW - ABOUT PAGE  */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  border-style: solid;
  border-color: green;
}

.column {
  flex: 100%;
  text-align: left;
  float: left;
  width: 50%;
  padding: 10px;
  border-style: dotted;
}
@media screen and (max-width: 1500px) {
  .column {
    width: 100%;
  }
}



/*>>>>>>>> SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  width:7px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: #000000;
}


/*>>>>>> FOOTER*/
div#footer{background: #FFFFFF; margin-top: 30px; border-style: dotted;}
div#footer p{margin:0; padding:20px 20px;}
div#footer{clear:both; width:100%; text-align:center; font-size: 13px; position: fixed; left: 0; bottom:0;}
